# Dependencies
node_modules/

# Environment Variables
.env
backend/.env
frontend/.env
admin/.env

# Build Files
dist/
build/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
uploads/
backend/uploads/